.login-form {
  border: none;
  box-shadow: 0 0 10px white;
  margin: auto;
  max-width: 330px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.login-form h1 {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px black;
}

.login-form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.login-form button {
  background: #c29825;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  padding: 10px;
  transition: all ease-in-out 0.3s;
  width: 90%;
}

.login-form button:hover {
  background: #e0a70a;
  color: white;
  scale: 1.1;
}

.login-form button:active {
  box-shadow: 5px 5px 5px 5px white;
  color: white;
  scale: 0.9;
}

.login-form button:disabled {
  background: #ccc;
  box-shadow: red 0 0 10px;
  color: rgb(255, 2, 2);
  cursor: not-allowed;
}
