.meals-page {
  background-color: white;
  height: 100%;
  text-align: center;
  width: 100%;
}

.meals-page h1 {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  margin: 1.5rem 0;
  text-shadow: 0 0 1rem black;
}

.meals-list-image {
  height: 100%;
  width: 100%;
}

.meals-container {
  margin-top: 50px;
  width: 100%;
}

.meal-card {
  background-color: whitesmoke;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: inline-block;
  height: 100%;
  margin: 20px;
  overflow: hidden;
  padding: 2px;
  width: 20%;
}

.meal-card img {
  height: 100%;
  width: 100%;
}

.meal-icon img {
  animation: shake 1s infinite ease;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}

@keyframes shake {

  0% {

    /* transform: rotate(5deg); */
    scale: 1.1;
  }

  50% {

    /* transform: rotate(-5deg); */
    scale: 1.2;
  }

  100% {

    /* transform: rotate(5deg); */
    scale: 1.1;
  }
}

.all-categories {
  background-color: #177a30d3;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  width: 100px;
}

.meals-categories {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.meals-categories .all-categories {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 10px;
  width: 100px;
}

.meals-categories-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.meals-categories-list-img {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.meals-categories-list button {
  background-color: rgb(243, 112, 32);
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: 900;
  margin: 5px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.meals-categories-list button:hover {
  background-color: rgb(241, 187, 51);
  scale: 1.05;
}

.meals-categories-list button:active {
  scale: 0.95;
}

.all-categories:hover {
  background-color: #177a30;
  scale: 1.05;
}

.all-categories:active {
  scale: 0.95;
}

@media screen and ( max-width : 768px ) {

  .meal-card {
    font-size: 10px;
    margin: 5px;
    width: 45%;
  }
}
